// $primary-color: hsl(223, 87%, 63%);
$social-color: rgb(32,79,110);
$social-color-hover: rgb(106,178,226);

$gray:  hsl(0, 0%, 59%);
$dark-blue:  hsl(212, 87%, 3%);
$background-color: rgb(255,251,241);

$data-scholar-color: rgb(183,222,208);
$data-claim-color: rgb(250,245,222);
$data-country-color: rgb(247,203,72);

$primary-button-color: #FFE381;
$primary-button-color-hover: #ffd84e;

$footer-color: $data-country-color;

$our-color: rgb(127,127,127);
$joinus-color: $data-claim-color;