$dark-blue: hsl(212, 87%, 3%);
$gray: hsl(0, 0%, 59%);

$background-color: rgb(255, 251, 241);
$bg-green: rgb(183, 222, 208);
$bg-ligth: rgb(250, 245, 222);
$bg-yellow: rgb(247, 203, 72);

$primary-button-color: #ffe381;
$primary-button-color-hover: #ffd84e;

$icon-color: rgb(32, 79, 110);
