.hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: space-around;

  // background-color: $background-color;

  &__title {
    padding: 0 3vw;
    padding-bottom: 4vh;
    text-align: left;
    h1 {
      margin: 0;
    }
    h2 {
      margin: 0;
      margin-top: 1vh;
      margin-bottom: 6vh;
    }
    a{
      font-size: 16px;
    }
  }
  &__image {
    img {
      cursor: pointer;
      width: 400px;
      height: 400px;

      &:hover {
        transform: rotate(-1deg) scale(1.1);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    justify-content: center;

    &__title {
      text-align: center;
    }

    &__image {
      padding-top: 5vh;
    }
    .button {
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 768px) {
}
