@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inconsolata", monospace;
  background: linear-gradient(
    -45deg,
    $background-color,
    $bg-green,
    $bg-ligth,
    $bg-yellow
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

h1 {
  font-size: 7vmin;
  font-weight: 400;
  color: $black;
  line-height: 110%;
}

h2 {
  line-height: 110%;

  font-size: 6vmin;

  font-weight: normal;
  color: $gray;

  span {
    color: $black;

    font-weight: normal;
  }
}

p {
  color: $black;
}

a {
  color: $black;
}

.bg--green {
  background-color: $bg-green;
}
.bg--light {
  background-color: $bg-ligth;
}
.bg--yellow {
  background-color: $bg-yellow;
}
.bg--white {
  background-color: $bg-white;
}

.button {
  display: block;
  width: 260px;
  height: auto;
  padding: 30px;
  background-color: $primary-button-color;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;

  &:hover {
    transform: scale(0.98);
    background-color: $primary-button-color-hover;
  }
}

.axie {
  position: absolute;
  bottom: 0;
  img {
    width: 320px;
  }
}

.axie-l {
  left: 0;
  img {
    transform: scaleX(-1);
  }
}

.axie-r {
  right: 0;
}

.icons {
  color: $icon-color;
  margin: 0 0.2em;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
.animate{
  animation: 
  nudge 5s linear infinite alternate;
}
.animate--invert{
  animation: 
  nudge-invert 5s linear infinite alternate;
}

.icons--hover{
  &:hover {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 1024px) {
  .axie {
    img {
      width: 220px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .axie {
    display: none;
  }

  .axie--fotter{
    position: relative;
    padding-bottom: 2vh;
    display:flex;
    align-items: center;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




// @keyframes nudge {
//   0%, 100% {
//     transform: translate(0, 0);
//   }
  
//   50% {
//     transform: translate(-100px, 0);
//   }
// }

// @keyframes nudge-invert {
//   0%, 100% {
//     transform: translate(0, 0);
//   }
//   50% {
//     transform: translate(0, 0);
//   }
// }
