@import "./colors";
@import "./section_data";
@import "./main_content.scss";
@import "./section_footer.scss";
@import "./section_joinus.scss";
@import "./section_our.scss";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: $dark-blue;
}

h2 {
  font-size: 2em;
  line-height: 38px;
  font-weight: normal;
  color: $gray;

  span {
    color: $dark-blue;
    font-weight: bold;
  }
}

p {
  color: $dark-blue;
}

.App {
  background-color: $background-color;
}

.button {
  width: 200px;
  display: block;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  background-color: $primary-button-color;
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  border: 5px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    transform: scale(0.98);
    background-color: $primary-button-color-hover;
  }
}

.axie {
  position: absolute;
  bottom: 0;
  img {
    width: 320px;
  }
}

.axie-l {
  left: 0;
  img {
    transform: scaleX(-1);
  }
}

.axie-r {
  right: 0;
}


@media only screen and (max-width: 1024px) {
  .axie {
    img {
      width: 220px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .axie {
    display: none;
  }
}
