.section-join {
  position: relative;
  min-height: 450px;
  padding: 0 10vw;
  padding-left: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  h2 {
    text-align: right;
  }
  p {
    text-align: right;
    padding-bottom: 2vh;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
  .section-join {
    padding: 0 10vw;
    align-items: center;
    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}
